

/* ------------------------------- Headings ---------------------------- */
.heading-1 {
    margin-top: 40px;
    margin-bottom: 0px;
    font-family: "PT Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}
.heading-2 {
    margin-top: 0px;
    font-family: "PT Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -1px;
}

/* --------------------------------- Divs ------------------------------ */
.div-1 {
    display: flex;
    width: 800px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    flex-direction: column;
}
.div-2 {
    display: flex;
    height: 50px;
}
.div-3 {
    display: flex;
    height: 100%;
    padding: 25px 25px 25px 25px;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    font-size: 15px;
}
.div-4 {
    display: flex;
    height: 120px;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    background-color: rgb(241, 241, 241);
}
.tab.tab-active {
    align-items: center;
    background-color: white;
    color: black;
    font-weight: 700;
}
.tab.tab-inactive {
    background-color: rgb(229, 229, 229);
    color: rgb(126, 126, 126);
}
.tab {
    display: flex;
    width: 100px;
    height: 100%;
    margin-right: 5px;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}

/* ------------------------------- Inputs ---------------------------- */

.text-input {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(229, 229, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: transparent;
    font-size: 16px;
    letter-spacing: -1px;
}
.text-input:focus {
    border-color: transparent transparent #e614f5;
    box-shadow: 0 4px 3px -3px #df1d98;
}
.submit-1 {
    width: 100%;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 17px;
    letter-spacing: -1px;
}