<h1 class="heading-1">YouTube API Angular App</h1>
<h1 class="heading-2">Explore YouTube videos by search or directly</h1>
<div class="div-1">
  <div class="div-2">
    <div class="tab tab-active" (click)='activateTab("search")' id="search">
      <p class="paragraph">Search</p>
    </div>
    <div class="tab tab-inactive" (click)='activateTab("direct")' id="direct">
      <p class="paragraph">URL</p>
    </div>
  </div>
  <app-video-searcher class="visible" id="search_comp"></app-video-searcher>
  <app-video-direct class="invisible" id="direct_comp"></app-video-direct>
</div>